html, body {
    font-family: "Manrope", sans-serif;
    font-weight: 100;
    background-color: rgb(200, 199, 199);
    color: rgb(119, 119, 119); 
    margin: 0;
}

header {
    padding: 0%;
    overflow: hidden; 
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: rgb(200, 199, 199);
    z-index: 2; 
    transition: all 2s ease-in-out;
    height: 100%;
}

header.move {
    height: 8%;
}

header.reverse {
    height: 100%;
}

.logo {
    padding: 0;
    margin: 0;
    font-size: 3vw;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: all 3s ease-in-out;
}

.logo.move {
    left: 1.1%;
    top: 0;
    transform: translate(0, 0);
}

.logo.reverse {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    width: 30px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    left: 95%;
    top: 35%;
    border: none;
    background: transparent;
    opacity: 0;
    transition: all 2s ease;
}

.navbar.activete {
    opacity: 1;
}

.navbar.reverse {
    opacity: 0;
}

.navbar::before,
.navbar::after,
.navbar-middle {
    /* нах тут контент??? */
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: rgb(119, 119, 119);
}

.navbar::before {
    top: 0;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.navbar::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.navbar-middle {
    top: 50%;
    transform: translateY(-50%); 
    transition: opacity .3s; 
}

.burger.active::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger.active::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.burger.active .navbar-middle {
    opacity: 0; 
    transition: opacity .3s; 
}

/* Оверлей */
.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(200, 199, 199); 
    overflow-y: hidden; 
    transition: height 1s ease-in-out; 
}

.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: left; 
    margin-top: 30px; 
    margin-left: 2.3em;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: color 0.3s; 
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
}

.visual-content {
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
    position: relative;
}

.visual-content img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}
