body {
  font-size: 16pt;
  color: #ffffff;
  font-family: monospace;
  background-image: url(pic3.jpg);
  background-size: cover;
}

header {
  font-size: 3.3vw;
  color: #ffffff;
  font-family: monospace;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 5%;
  padding-bottom: 6%;
  border: 5px solid none;
  border-radius: 10px;
  margin: 0 auto;
}

main {
  position: relative;
  padding: 2%;
  background-color: #860bbb;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding-bottom: 30%;
}

form {
  position: relative;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border: 5px solid none;
  border-radius: 10px;
  max-width: 90%;
}

.input{
  font-size: 2vw;
  float: left;
}

.output img {
position: relative;
left: 7%;
border-radius: 15px;
box-shadow: 0 5px 10px black;
  width: 55vw;
  height: auto;
}


@media screen and (max-width: 600px) {
  header {
    font-size: 1.2em;
  }
  form {
    margin-left: 0;
  }
}

label{
  display: block;
  padding-top: 10%;
  padding-bottom: 5%;
}

button {
  display: inline-block;
  width: auto; 
  height: 6vw; 
  border: none;
  border-radius: 10pt;
  color:  #860bbb;
  background-color: #ffffff;
  text-align: center;
  line-height: 1;  
  font-size: 3vw;  
  font-family: monospace;
}

button:hover{
  color: #fff;
  background: #333;
  border: 1px solid #0b80bb;
}

button.result {
  display: block;
  position: absolute;
  top: 100%;
  font-size: 3.7vw; 
}

#coordinatesY{
  display: inline-block;
  width: 23vw; 
  height: 4vw; 
  border-radius: 10pt;
  border: none;
  color:  #860bbb;
  background-color: #ffffff;
  text-align: center;
  line-height: 1;  
  font-size: 3vw;  
  font-family: monospace;
}

#coordinatesX{
  display: inline-block;
  width: auto; 
  height: 6vw; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10pt;
  border: none;
  color:  #860bbb;
  background-color: #ffffff;
  text-align: center;
  line-height: 1;  
  font-size: 3vw;  
  font-family: monospace;
}

